.host__nav__container{
    margin: 2rem;
}

.host__nav__elements{
    margin: 1rem;
}

.host__nav__elements:hover{
    cursor: pointer;
    text-decoration: underline;
}

.host__nav__container {
    margin: 1rem;
}

.host__van__title{
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}
.host__van__list{
    margin: 2rem;
}

.host__van__item{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    margin: 1rem 0;
    border-radius: 4px;
    align-items: center;
}

img.host__van__image {
    height: 100px;
    width: auto;
    margin: 0.4rem;
}

.host__van__details{
    margin-left: 2rem;
}

.host__van__name{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.host__van__detail__fp{
    margin: 1rem 1rem;
    padding: 1rem;
    background-color: #FFFFFF;
}

.host__van__detail__main__container{
    display: flex;
    flex-direction: column;
}

img.host__van__detail__image{
    height: 200px;
    width: auto;
    border-radius: 4px;
}

.host__van__detail__snd__container{
    display: flex;
    flex-direction: row;
}

.host__van__detail__third__container{
    display: flex;
    flex-direction: column;
    margin: 1rem ;
    justify-content: center;
}

.host__van__detail__title{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.host__van_detail__navbar {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    margin-top: 1.4rem;
}