.host__nav__container{
    margin: 2rem;
}

.host__nav__elements{
    margin: 1rem;
}

.host__nav__elements:hover{
    cursor: pointer;
    text-decoration: underline;
}

.host__nav__container {
    margin: 1rem;
}

.host__van__title{
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}
.host__van__list{
    margin: 2rem;
}

.host__van__item{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    margin: 2rem 0;
    border-radius: 4px;
    align-items: center;
}

img.host__van__image {
    height: 100px;
    width: auto;
    margin: 0.4rem;
}

.host__van__details{
    margin-left: 2rem;
}

.host__van__name{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}